*{
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
}
.navbar{
    height: 58px;
    width: 100%;
    background-color: #222222;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navbar-menu{
    text-decoration: none;
    padding: 0 0 10px 0;
    margin-right: 100px;
    color: grey;
    transition: 0.3s;
}
.container{
    text-align: center;
}
.col-sm{
    width: 200px;
    height: 300px;
    margin: 5px;
}


